.App {
 height: 100vh;
 width: 100vw;
 display: flex;
 justify-content: center;
 align-items: center;
}

.tach{
  text-decoration: line-through;
}
.text{
  text-decoration: none;
}

.card{
  text-align: center;
  border-radius: 50px;
  padding: 15px;
  min-height: 250px;
  height: fit-content;
  width: 50vw;
  background-color: rgba(123, 123, 123, 0.493);
}
.span{
  font-size: 12px;
}
.listToDo{
  margin:20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  
}
.formList{
  display: flex;
  
  width: 100%;
 
}
.list{
  display: flex;
  width: 100%;
  justify-content:space-between;
  
}
.addTask{
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 25px;
}